<h1>Editing happening</h1>

<% form_for(@happening) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @happening %> |
<%= link_to 'Back', happenings_path %>
